@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a:hover {
  color: darkslateblue;
}
a:active {
  color: black;
}

header {
 font-family: 'Montez', sans-serif;
 height: 34vh;
}

header h1 {
 font-size: 10rem;
 color: rgb(99, 62, 141);
 z-index: 2;
}

span {
  font-size: 1.5rem;
  color: transparent;
  text-shadow: 0 0 0 rgb(99, 62, 141);
}

.purple-wash {
  opacity: 0;
  animation: wash .75s ease-in;
  position: absolute;
}

.pink-stars {
 position: relative;
 overflow: hidden;
 background: linear-gradient(.375turn, lightpink, lavender);
}

/* animated stars */
.star,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8,
.star9,
.star10,
.star11,
.star12,
.star13 {
 opacity: 0;
 position: absolute;
 width: 5px;
 height: 5px;
 background: white;
 border-radius: 100%;
 overflow: hidden;
 z-index: 1;
}

.star {
  top: 10%;
  left: 10%;
  animation: twinkle 2.5s linear 0s infinite normal;
  -webkit-animation: twinkle 2.5s linear 0s infinite normal;
}

.star2 {
  top: 12%;
  right: 12%;
  animation: twinkle 2.5s linear 1s infinite normal;
  -webkit-animation: twinkle 2.5s linear 1s infinite normal;
}

.star3 {
  top: 25%;
  left: 30%;
  animation: twinkle 2s linear 2s infinite normal;
  -webkit-animation: twinkle 2s linear 2s infinite normal;
}

.star4 {
  top: 20%;
  right: 34%;
  animation: twinkle 3s linear 3s infinite normal;
  -webkit-animation: twinkle 3s linear 3s infinite normal;
}

.star5 {
  top: 45%;
  left: 22%;
  animation: twinkle 4s linear 4s infinite normal;
  -webkit-animation: twinkle 4s linear 4s infinite normal;
}

.star6 {
  top: 20%;
  right: 50%;
  animation: twinkle 1.8s linear 1s infinite normal;
  -webkit-animation: twinkle 1.8s linear 1s infinite normal;
}

.star7 {
  top: 75%;
  left: 40%;
  animation: twinkle 2.25s linear 2.25s infinite normal;
  -webkit-animation: twinkle 2.25s linear 2.25s infinite normal;
}

.star8 {
  top: 60%;
  right: 41%;
  animation: twinkle 1.5s linear 3.25s infinite normal;
  -webkit-animation: twinkle 1.5s linear 3.25s infinite normal;
}

.star9 {
  top: 72%;
  left: 30%;
  animation: twinkle 4s linear 4.25s infinite normal;
  -webkit-animation: twinkle 4s linear 4.25s infinite normal;
}

.star10 {
  top: 82%;
  right: 23%;
  animation: twinkle 1.5s linear 1.5s infinite normal;
  -webkit-animation: twinkle 1.5s linear 1.5s infinite normal;
}

.star11 {
  top: 85%;
  left: 18%;
  animation: twinkle 4s linear 2.5s infinite normal;
  -webkit-animation: twinkle 4s linear 2.5s infinite normal;
}

.star12 {
  top: 87%;
  right: 8%;
  animation: twinkle 2.5s linear 3.5s infinite normal;
  -webkit-animation: twinkle 2.5s linear 3.5s infinite normal;
}

.star13 {
  top: 90%;
  left: 15%;
  animation: twinkle 3s linear 0s infinite normal;
  -webkit-animation: twinkle 3s linear 0s infinite normal;
}

@keyframes wash {
  0% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 10vh;
    width: 100vw;
    background: linear-gradient(0deg,  rgb(99,62,141), lightpink);
  }

  10% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 20vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141), lightpink,);
  }

  20% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 30vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141),rgb(99,62,141), lightpink);
    
  }

  30% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 40vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141),rgb(99,62,141), lightpink, rgba(255,255,255,0));
   
  }

  40% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 50vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141), rgb(99,62,141), lightpink, rgba(255,255,255,0), rgba(255,255,255,0));
  
  }

  50% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 60vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141),rgb(99,62,141), lightpink, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
   
  }

  60% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 70vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141),rgb(99,62,141), lightpink, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
   
  }

  70% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 80vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141),rgb(99,62,141), lightpink, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
  }

  80% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg,rgb(99,62,141), lightpink, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
   
  }

  90% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, lightpink, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0));
  }

  100% {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    height: 100vh;
    width: 100vw;
  }

}

@keyframes twinkle {
 0% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

 25% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 50% {
  display: block;
  transform: scale(1.5);
  opacity: .4;
 }

 75% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 100% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

}

@-webkit-keyframes twinkle {
 0% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

 25% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 50% {
  display: block;
  transform: scale(1.5);
  opacity: .4;
 }

 75% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 100% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

}

.under-header-line {
  height: 2px;
  background:rgb(99, 62, 141);
}

.under-header-line2 {
  height: 10px;
  background:rgb(99, 62, 141);
}

.under-header-break {
  height: 10px;
  background:white;
}

.under-header-break2 {
  height: 2px;
  background:white;
}

.tagline {
  background:rgb(99, 62, 141);
  font-family: 'Josefin Sans', sans-serif;
}

.about-projects {
  background:white;
  font-family: 'Josefin Sans', sans-serif;
}


.emoji {
  color: transparent;
  text-shadow: 0 0 0 white;
}

.about-projects {
  color:rgb(99, 62, 141);
}

.project {
  min-height: 6rem;
  background-color:rgb(99, 62, 141);
  color: white;
}

.project .purple,
.project span {
  color: white;
}

.under-header-line-2 {
  height: 2px;
  background: lightpink;
}

.link {
  min-height: 5rem;
  border: 2px solid rgb(99, 62, 141);
}

.link a {
  color:rgb(99, 62, 141);
}

footer {
  background: linear-gradient(.375turn, lightpink, lavender);
  height: 4rem;
 
}

footer, 
footer a {
   color:rgb(99, 62, 141);
}

.shine {
  animation: let-it-shine 60s linear 2s infinite normal;
  -webkit-animation: let-it-shine 60s linear 2s infinite normal;
}

.explanation,
.explanation2,
.explanation3,
.explanation4 {
  border: 2px solid rgb(99, 62, 141);
  background: white;
  font-size: 1.35rem;
  line-height: 1.5rem;
  min-height: 6rem;
}

.explanation {
  animation: exp-slide-in 1.5s ease-in-out;
}
.explanation2 {
  animation: exp-slide-in2 2.5s ease-in-out;
}
.explanation3 {
  animation: exp-slide-in3 3.75s ease-in-out;
}
.explanation4 {
  animation: exp-slide-in4 5s ease-in-out;
}

@keyframes exp-slide-in {
  0% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes exp-slide-in2 {
  0% {
    transform: translateX(-200%);
  }

  50% {
    transform: translateX(-200%);
  }

  90% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes exp-slide-in3 {
  0% {
    transform: translateX(-200%);
  }

  60% {
    transform: translateX(-200%);
  }

  92% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes exp-slide-in4 {
  0% {
    transform: translateX(-200%);
  }

  70% {
    transform: translateX(-200%);
  }

  95% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0%)
  }
}


@keyframes let-it-shine { 

  0% {
    background: linear-gradient(.375turn, #ffb6c1, lavender);
  }

  .125% {

    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,182,193,1) 15%, rgba(230,230,250,1) 100%);

  }

    .25% {

    background: linear-gradient(135deg, rgba(255,182,193,1) 10%, rgba(255,255,255,1) 25%, rgba(230,230,250,1) 40%);

  }

  .375% {

    background: linear-gradient(135deg, rgba(255,182,193,1) 25%, rgba(255,255,255,1) 40%, rgba(230,230,250,1) 55%);

  }
  

  .5% {

    background: linear-gradient(135deg, rgba(255,182,193,1) 35%, rgba(255,255,255,1) 50%, rgba(230,230,250,1) 65%);
  }

   .625% {
    background: linear-gradient(135deg, rgba(255,182,193,1) 45%, rgba(255,255,255,1) 60%, rgba(230,230,250,1) 75%);
  }

  .75% {
    background: linear-gradient(135deg, rgba(255,182,193,1) 60%, rgba(255,255,255,1) 75%, rgba(230,230,250,1) 90%);
  }


  .875% {
 background: linear-gradient(135deg, rgba(255,182,193,1) 0%, rgba(230,230,250,1) 85%, rgba(255,255,255,1) 100%);
  }

   1% {
 background: linear-gradient(135deg, rgba(255,182,193,1) 0%, rgba(230,230,250,1) 100%);
  }
 
}


@-webkit-keyframes let-it-shine { 

  0% {
    background: linear-gradient(.375turn, #ffb6c1, lavender);
  }

  .125% {

    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,182,193,1) 15%, rgba(230,230,250,1) 100%);

  }

    .25% {

    background: linear-gradient(135deg, rgba(255,182,193,1) 10%, rgba(255,255,255,1) 25%, rgba(230,230,250,1) 40%);

  }

  .375% {

    background: linear-gradient(135deg, rgba(255,182,193,1) 25%, rgba(255,255,255,1) 40%, rgba(230,230,250,1) 55%);

  }
  

  .5% {

    background: linear-gradient(135deg, rgba(255,182,193,1) 35%, rgba(255,255,255,1) 50%, rgba(230,230,250,1) 65%);
  }

   .625% {
    background: linear-gradient(135deg, rgba(255,182,193,1) 45%, rgba(255,255,255,1) 60%, rgba(230,230,250,1) 75%);
  }

  .75% {
    background: linear-gradient(135deg, rgba(255,182,193,1) 60%, rgba(255,255,255,1) 75%, rgba(230,230,250,1) 90%);
  }


  .875% {
 background: linear-gradient(135deg, rgba(255,182,193,1) 0%, rgba(230,230,250,1) 85%, rgba(255,255,255,1) 100%);
  }

   1% {
 background: linear-gradient(135deg, rgba(255,182,193,1) 0%, rgba(230,230,250,1) 100%);
  }
 
}

.progress-section {
  background: rgb(99, 62, 141);
}

@media screen and (max-width: 575px) {
  .project,
  .explanation,
  .explanation2,
  .explanation3,
  .explanation4 {
    width: 95%!important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:675px) {

 header h1 {
  font-size: 6rem;
 }

 h2 {
   font-size: 1.5rem;
 }

 .hearts {
   font-size: .6rem;
 }

 .emoji {
   font-size: 1.5rem;
 }

 
}


@media screen and (max-width:300px) {

  header h1 {
   font-size: 4rem;
  }
 
  h2 {
    font-size: 1.5rem;
  }
 
  .hearts {
    font-size: .6rem;
  }
 
  .emoji {
    font-size: 1.5rem;
  }
 
  
 }