@font-face {
  font-family: "Kolker Brush";
  src: url('./KolkerBrush.woff2') format('woff2');
}

@font-face {
  font-family: "Josefin Sans";
  src: url('./JosefinSans.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

a:hover {
  color: darkslateblue;
}
a:active {
  color: black;
}

header {
 font-family: 'Kolker Brush', cursive;
 height: 100vh;
}
.tag {
  font-family: 'Kolker Brush', cursive;
  font-size: 5rem;
}
.header-row {
  height: 90vh;
}

.projects-row {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.project-detail-row {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.project-img {
  max-height: 600px;
  justify-content: right;
  border-radius: 10px;
}

.project-explanation {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

button {
  min-width: 15rem!important;
}


.arrow {
color:rgb(99, 62, 141);
}

header h1 {
 font-size: 18rem;
 color: rgb(99, 62, 141);
 z-index: 2;
}

.white-outline { 
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

span {
  font-size: 2.5rem;
  color: transparent;
  text-shadow: 0 0 0 white;
}
.PE {
  cursor: pointer;
}
.toggle-none {
  display: none!important;
}

.links {
  border-radius: 50px;
}


.pink-stars {
 position: relative;
 overflow: hidden;
 background: linear-gradient(.375turn, dodgerblue, lavender);
}

/* animated stars */
.star,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8,
.star9,
.star10,
.star11,
.star12,
.star13 {
 opacity: 0;
 position: absolute;
 width: 5px;
 height: 5px;
 background: white;
 border-radius: 100%;
 overflow: hidden;
 z-index: 1;
}

.star {
  top: 10%;
  left: 10%;
  animation: twinkle 2.5s linear 0s infinite normal;
  -webkit-animation: twinkle 2.5s linear 0s infinite normal;
}

.star2 {
  top: 12%;
  right: 12%;
  animation: twinkle 2.5s linear 1s infinite normal;
  -webkit-animation: twinkle 2.5s linear 1s infinite normal;
}

.star3 {
  top: 25%;
  left: 30%;
  animation: twinkle 2s linear 2s infinite normal;
  -webkit-animation: twinkle 2s linear 2s infinite normal;
}

.star4 {
  top: 20%;
  right: 34%;
  animation: twinkle 3s linear 3s infinite normal;
  -webkit-animation: twinkle 3s linear 3s infinite normal;
}

.star5 {
  top: 45%;
  left: 22%;
  animation: twinkle 4s linear 4s infinite normal;
  -webkit-animation: twinkle 4s linear 4s infinite normal;
}

.star6 {
  top: 20%;
  right: 50%;
  animation: twinkle 1.8s linear 1s infinite normal;
  -webkit-animation: twinkle 1.8s linear 1s infinite normal;
}

.star7 {
  top: 75%;
  left: 40%;
  animation: twinkle 2.25s linear 2.25s infinite normal;
  -webkit-animation: twinkle 2.25s linear 2.25s infinite normal;
}

.star8 {
  top: 60%;
  right: 41%;
  animation: twinkle 1.5s linear 3.25s infinite normal;
  -webkit-animation: twinkle 1.5s linear 3.25s infinite normal;
}

.star9 {
  top: 72%;
  left: 30%;
  animation: twinkle 4s linear 4.25s infinite normal;
  -webkit-animation: twinkle 4s linear 4.25s infinite normal;
}

.star10 {
  top: 82%;
  right: 23%;
  animation: twinkle 1.5s linear 1.5s infinite normal;
  -webkit-animation: twinkle 1.5s linear 1.5s infinite normal;
}

.star11 {
  top: 85%;
  left: 18%;
  animation: twinkle 4s linear 2.5s infinite normal;
  -webkit-animation: twinkle 4s linear 2.5s infinite normal;
}

.star12 {
  top: 87%;
  right: 8%;
  animation: twinkle 2.5s linear 3.5s infinite normal;
  -webkit-animation: twinkle 2.5s linear 3.5s infinite normal;
}

.star13 {
  top: 90%;
  left: 15%;
  animation: twinkle 3s linear 0s infinite normal;
  -webkit-animation: twinkle 3s linear 0s infinite normal;
}


@keyframes twinkle {
 0% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

 25% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 50% {
  display: block;
  transform: scale(1.5);
  opacity: .4;
 }

 75% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 100% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

}

@-webkit-keyframes twinkle {
 0% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

 25% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 50% {
  display: block;
  transform: scale(1.5);
  opacity: .4;
 }

 75% {
  display: block;
  transform: scale(.25);
  opacity: 0;
 }

 100% {
  display: block;
  transform: scale(1);
  opacity: .8;
 }

}

.under-header-line {
  height: 2px;
  background:rgb(99, 62, 141);
}

.under-header-line2 {
  height: 10px;
  background:rgb(99, 62, 141);
}

.under-header-break {
  height: 10px;
  background:white;
}

.under-header-break2 {
  height: 2px;
  background:white;
}

.tagline {
  background:rgb(99, 62, 141);
  font-family: 'Josefin Sans', sans-serif;
}

.about-projects {
  background:white;
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(99, 62, 141);
}


.emoji {
  color: transparent;
  text-shadow: 0 0 0 white;
}

.project {
  min-height: 6rem;
  background-color:rgb(99, 62, 141);
  color: white;
}

.purple-link {
  color: rgb(99, 62, 141);
  background: rgb(243, 222, 243);
  padding: .2rem;
  border-radius: 10%;
}

.project .purple,
.project span {
  color: white;
}

.under-header-line-2 {
  height: 2px;
  background: dodgerblue;
}

.link {
  min-height: 5rem;
  border: 2px solid rgb(99, 62, 141);
}

.link a {
  color:rgb(99, 62, 141);
}

footer {
  background: linear-gradient(.375turn, dodgerblue, lavender, lavender);
  height: 4rem;
 
}

footer, 
footer a {
   color:rgb(99, 62, 141);
}

.shine {
  animation: let-it-shine 60s linear 2s infinite normal;
  -webkit-animation: let-it-shine 60s linear 2s infinite normal;
}

.explanation,
.explanation2,
.explanation3,
.explanation4 {
  border: 2px solid rgb(99, 62, 141);
  background: white;
  font-size: 1.35rem;
  line-height: 1.5rem;
  min-height: 6rem;
}



@keyframes let-it-shine { 

  0% {
    background: linear-gradient(.375turn, dodgerblue, lavender);
  }

  .125% {

    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, lightseagreen 15%, rgba(230,230,250,1) 100%);

  }

    .25% {

    background: linear-gradient(135deg, dodgerblue 10%, rgba(255,255,255,1) 25%, rgba(230,230,250,1) 40%);

  }

  .375% {

    background: linear-gradient(135deg, dodgerblue 25%, rgba(255,255,255,1) 40%, rgba(230,230,250,1) 55%);

  }
  

  .5% {

    background: linear-gradient(135deg, dodgerblue 35%, rgba(255,255,255,1) 50%, rgba(230,230,250,1) 65%);
  }

   .625% {
    background: linear-gradient(135deg, dodgerblue 45%, rgba(255,255,255,1) 60%, rgba(230,230,250,1) 75%);
  }

  .75% {
    background: linear-gradient(135deg, dodgerblue 60%, rgba(255,255,255,1) 75%, rgba(230,230,250,1) 90%);
  }


  .875% {
 background: linear-gradient(135deg, dodgerblue 0%, rgba(230,230,250,1) 85%, rgba(255,255,255,1) 100%);
  }

   1% {
    background: linear-gradient(.375turn, dodgerblue, lavender, lavender);
  }
 
}


@-webkit-keyframes let-it-shine { 

  0% {
    background: linear-gradient(.375turn, dodgerblue, lavender);
  }

  .125% {

    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, dodgerblue 15%, rgba(230,230,250,1) 100%);

  }

    .25% {

    background: linear-gradient(135deg, dodgerblue 10%, rgba(255,255,255,1) 25%, rgba(230,230,250,1) 40%);

  }

  .375% {

    background: linear-gradient(135deg, dodgerblue 25%, rgba(255,255,255,1) 40%, rgba(230,230,250,1) 55%);

  }
  

  .5% {

    background: linear-gradient(135deg, dodgerblue 35%, rgba(255,255,255,1) 50%, rgba(230,230,250,1) 65%);
  }

   .625% {
    background: linear-gradient(135deg, dodgerblue 45%, rgba(255,255,255,1) 60%, rgba(230,230,250,1) 75%);
  }

  .75% {
    background: linear-gradient(135deg, dodgerblue 60%, rgba(255,255,255,1) 75%, rgba(230,230,250,1) 90%);
  }


  .875% {
 background: linear-gradient(135deg, dodgerblue 0%, rgba(230,230,250,1) 85%, rgba(255,255,255,1) 100%);
  }

   1% {
    background: linear-gradient(.375turn, dodgerblue, lavender, lavender);
  }
 
}

.progress-section {
  background: rgb(99, 62, 141);
}

#page-2 {
  min-height: 50vh;
}

@media screen and (min-width:750px) {
  p {
    font-size: 1.5rem;
  }
}


@media screen and (max-width:675px) {


 header h1 {
  font-size: 6rem;
 }

 h2 {
   font-size: 1.5rem;
 }

 .hearts {
   font-size: .6rem;
 }

 .emoji {
   font-size: 1.5rem;
 }


}


@media screen and (max-width:300px) {

  header h1 {
   font-size: 7rem;
  }
 
  h2 {
    font-size: 1.5rem;
  }

  .tag {
    font-size: 3.5rem;
  }
 
  .hearts {
    font-size: .6rem;
  }
 
  .emoji {
    font-size: 1.5rem;
  }
 
  
 }